<ion-header>
  <ion-navbar>
    <ion-title>
      {{ filtered }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <list-item *ngFor="let product of products | filterCategory: filtered" [itemProduct]="product"></list-item>
  </ion-list>
</ion-content>
<div class="categories">
  <button ion-button color="#ccc" *ngIf="filtered == 'All'" (click)="filtered='All'">All</button>
  <button ion-button color="#ccc" outline *ngIf="filtered != 'All'" (click)="filtered='All'">All</button>
  <span *ngFor="let category of categories">
    <button ion-button color="#ccc" *ngIf="filtered == category" (click)="filtered=category">{{category}}</button>
    <button ion-button color="#ccc" *ngIf="filtered != category" outline (click)="filtered=category">{{category}}</button>
  </span>
</div>
