<ion-list inset *ngIf="wishlists.length > 0">
  <ion-list-header>
    My Wishlists:
  </ion-list-header>
  <ion-item *ngFor="let list of wishlists" (click)="goToWishlist(list.id, list.name)">
    <ion-icon name="star" item-left></ion-icon>
    <p color="primary">{{list.name}}</p>
  </ion-item>
</ion-list>
<ion-list inset>
  <ion-list-header>
    Create A Wishlist
  </ion-list-header>
  <ion-item class='new-list'>
    <ion-input type="newWishlist" #newWishlist placeholder="Wishlist Name"></ion-input>
  </ion-item>
  <ion-item class='new-list-button'>
    <button block ion-button outline (click)="createWishlist(newWishlist.value)">Create</button>
  </ion-item>
</ion-list>
