img {
  height: 50%;
  width: 50%;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #ee4c83;
  }

  .card-subtitle {
    font-size: 2.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #ee4c83;
  }

}
