<ion-header>
  <ion-navbar>
    <ion-title>
      Categories
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <div padding>
    <ion-segment>
      <ion-segment-button *ngFor="let category of productsByCategory" value="{{category[0].category}}" (click)="switchCategory(category[0].category)">
        {{category[0].category}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="categoryFilter">
    <span *ngFor="let category of productsByCategory">
      <products [products]="category" *ngSwitchCase="category[0].category"></products>
    </span>
  </div>
</ion-content>
