.page-container {
  padding: 0;
  margin: 0;
  top: 10px;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 3rem;
  font-weight: 800;
}

.description {
  font-weight: 700;
}

.status {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#logo {
   height: 50px;
   width: 50px;
   margin-top: 15px;
}

#marker{
  height: 400px;
  width: auto;
}

#markerPhone{
  height: 400px;
  width: auto
}

.image {
  height: 300px;
  width: auto;
  margin: 0 auto 0 auto;
}

#image1 {
  position: absolute;
  top: 68px;
  left: 118px;
  height: 230px;
  width: auto;
}

#image2 {
  position: absolute;
  top: 68px;
  left: 118px;
  height: 230px;
  width: auto;
}

.intro-image {
  border-radius: 10px;
}

.iphone-container {
  position: relative;
  height: 375px;
  width: 375px;
  margin: 0 auto 0 auto;
}
