.page-container {
  padding: 0;
  margin: 0;
  top: 10px;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 3rem;
  font-weight: 800;
}

.description {
  font-weight: 700;
}

.status {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#logo {
   height: 50px;
   width: 50px;
   margin-top: 15px;
}

#marker{
  height: 400px;
  width: auto;
}

#markerPhone{
  height: 400px;
  width: auto
}

.image {
    position: relative;
    top: 0;
    left: 0;
    height: 350px;
    width: auto;
}

#image1 {

  position: absolute;
  top: 158px;
  left: 118px;
  height: 230px;
  width: auto;
}

#image2 {

  position: absolute;
  top: 138px;
  left: 118px;
  height: 245px;
  width: 131px;
}


