// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #303030;
$background-color:  #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #eb2d6e,
  secondary:  #eb2d6e,
  danger:     #f53d3d,
  light:      #FDCC50,
  dark:       #FDCC50,
  favorite:   #69B4B2
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";

$tabs-ios-background: rgb(255, 167, 0);
$tabs-ios-tab-color: #fff;

$toolbar-ios-background: #eb2d6e;
$toolbar-ios-border-color: rgb(255, 167, 0);

$list-ios-border-color: #000;
$list-ios-text-color: #303030;
$list-ios-header-color: #000;

//app bg color
$background-ios-color: #fff;
$background-md-color: #fff;
$background-wp-color: #fff;

ion-thumbnail img{
  border-radius: 4px;
}

// ion-item {
//   margin: 1% !important;
//   width: 98% !important;
//   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
// }

body {
  background-color: #fff;
}

.item-inner {
  border-bottom: none !important;
}

input {
  border: 1px solid #000 !important;
  border-radius: 4px !important;
  padding: 5px !important;
}
