  html, body, ion-content, ion-page, .nav-decor {
    background-color: transparent !important;
  }

.home {

    #ionball {
        position: absolute;
        bottom: 30px;
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }

}
