<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user">
    <ion-segment [(ngModel)]="selected">
      <ion-segment-button value="wishlists" (click)="changeSegment('wishlists')">
        Wishlists
      </ion-segment-button>
      <ion-segment-button value="likes" (click)="changeSegment('likes')">
        Likes
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="userView">
      <user-wishlists *ngSwitchCase="'wishlists'" [sessionInfo]="session"></user-wishlists>
      <user-likes *ngSwitchCase="'likes'" [sessionInfo]="session"></user-likes>
    </div>
    <a (click)="logout()"><button ion-button>Logout</button></a>
  </div>
  <div *ngIf="!user">
    <a (click)="login('google')"><button ion-button>Login with Google</button></a>
    <a (click)="login('facebook')"><button ion-button>Login with Facebook</button></a>
  </div>
</ion-content>

